<p>register works!</p>
<!-- [formGroup]="form"(submit)="submit()" -->
<!-- <form (submit)="add()">

    <h1 >Gestion des produits</h1>

      
      <button type="submit" class="w-100 btn btn-lg btn-primary">Add</button>

  </form> -->
  <h1>Gestion des produits</h1>

<button type="button" class="btn btn-primary" (click)="add()">Add</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produit of produits">
      <td>{{ produit.nom }}</td>
      <td>{{ produit.prix }}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(produit.idproduit)">Delete</button> <!-- Add a delete button for each produit -->
      </td>
    </tr>
  </tbody>
</table>



